# Local record for Mac OS
.DS_Store

# Byte-compiled / optimized / DLL files
.pyc
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Swap files
~
.*.swp

# gcc output files
*.o

# word vec files
*.bin
*.vec

# Backup files
.bak

# Andy's local files
andy/audios/alphago_news_us/
andy/audios/alphago_news_us_flac/
andy/videos/
andy/youtube-crawler-49ca7fc9987b.json

# Stanley's local files
report/
trans/
key/
dataset/AlphaGo/
embedding/visual/checkpoint/
embedding/text/fastText/models/
embedding/text/fastText/data/
embedding/text/fastText/result/
embedding/text/fastText/fasttext
