# Local record for Mac OS
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Swap files
.swp

# Backup files
.bak

# Pyre type checker
.pyre/

# Andy's local files
andy/audios/alphago_news_us/
andy/audios/alphago_news_us_flac/
andy/videos/
andy/youtube-crawler-49ca7fc9987b.json

# Stanley's local files
dataset/
embedding/visual/checkpoint/
